<a href="https://colab.research.google.com/github/ips610/UCS411-Course-TIET/blob/main/UCS411_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x=float(input("Enter The Value: "))
y="Hello"
z=3.45
if z == 3.45 or y == "Hello":
  x = x + 1
  y = y + " World"
print(x)
print(y)

Enter The Value: 34.23
35.23
Hello World

In [6]:
a=3
print(type(a))

<class 'int'>

In [9]:
def factorial(x):
  ans = 1
  for i in range(1,x):
    ans = ans*i
  return ans

print(factorial(5))

24

In [12]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu[-2][0])
print(tu[0])

2
23